<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>websockets</title>
  <script src="/socket.io/socket.io.js"></script>
</head>
<body>
  <h1>Websockets</h1>

  <div id="formu"></div>

  <form onsubmit="return addMessage(this)">
    <input type="text" id="username" placeholder="Tu Nombre">
    <input type="text" id="texto" placeholder="Cuentanos algo...">
    <input type="submit" value="enviar">
  </form>
  <div id="messages"></div>
  

  <script src="js/main.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
</body>
</html>